<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zbPro.seed.activity"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- 访问互联网权限 根据需要添加 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SDCARD读写权限 根据需要添加 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 网络状态检测权限  根据需要添加 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelComeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SeedActivity" />
        <activity android:name=".RogueActivity" />
        <activity android:name=".CastrationActivity" />
        <activity android:name=".PredictedActivity" />
        <activity android:name=".MakersActivity" />

        <service
            android:name="com.zbPro.seed.service.FarmerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".FarmerDataActivity" />
        <activity android:name=".FarmerBasedataActiivty" />

        <service
            android:name="com.zbPro.seed.service.LoginMyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".AdminActivity" />
        <activity android:name=".TechnicianActivity" />
        <activity android:name="com.zbPro.seed.adminActivity.Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>